:root {
  /* stats change count colors */
  --lime-green-color: #1db489;
  --bright-red-color: #dc414c;
  /* social media colors */
  --facebook-color: #198ff5;
  --twitter-color: #1ca0f2;
  --instagram-color: linear-gradient(to right, #fdc468, #df4996);
  --youtube-color: #c4032a;
  /* dark and light mode toggle button colors */
  --toggle-gradient-color: linear-gradient(to right, #378fe6, #3eda82);
  --toggle-color-light: #aeb3cb;
  /* dark mode colors */
  --dark-blue-bg-color: #1e202a;
  --dark-blue-top-bg-pattern-color: #1f212e;
  --dark-blue-desaturated-card-bg-color: #252a41;
  --dark-blue-card-hover: #333a55;
  --dark-blue-desaturated-text-color: #8b97c6;
  --dark-white-text-color: #ffffff;
  /* light mode colors */
  --light-white-bg-color: #ffffff;
  --light-pale-blue-top-bg-pattern-color: #f5f7ff;
  --light-gray-blue-card-bg-color: #f0f2fa;
  --light-dark-gray-blue-text-color: #63687e;
  --light-dark-blue-text-color: #1e202a;
  /* fonts */
  --font-family: "Inter", sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1;
  font-family: var(--font-family);
  background-color: var(--dark-blue-bg-color);
  color: var(--dark-white-text-color);
}

@media screen and (max-width: 624px) {
  body {
    padding: 2rem;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

@media screen and (min-width: 1024px) {
  .h1 {
    font-size: 1.75rem;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
}
label {
  font-size: 0.8rem;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.toggle {
  display: grid;
  grid-template-columns: 1fr 3rem;
  border: none;
  margin: 0;
}

label[for="dark"] {
  line-height: 1.5rem;
  margin-right: .8rem;
}

.toggle-wrapper {
  position: relative;
  height: 1.5rem;
}

.toggle input[type="radio"] {
  margin: 0 -2px 0 -2px;
  opacity: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.toggle-background {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 0.75rem;
  overflow: hidden;
  background: var(--toggle-gradient-color);
  pointer-events: none;
}

.toggle-button {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  right: 100%;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  background-color: var(--dark-blue-bg-color);
  transition: all 200ms ease-in-out;
}

.toggle #light:checked ~ .toggle-button {
  left: calc(100% - 1.3rem);
  right: 0.2rem;
}

.toggle #system:checked ~ .toggle-button {
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

label {
  font-size: 0.9rem;
}

.container {
  padding: 0 1.5rem;
  max-width: 69rem;
  margin: 0 auto 3rem;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.25rem;
}

@media screen and (min-width: 724px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}

.header-title {
  width: 100%;
}

@media screen and (min-width: 624px) {
  .header-title {
    width: auto;
  }
}

.header-subtitle {
  font-size: 0.8rem;
  font-weight: var(--font-weight-700);
  color: var(--dark-blue-desaturated-text-color);
}

.grid {
  display: grid;
}

@media screen and (min-width: 748px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: var(--dark-blue-desaturated-card-bg-color);
  color: var(--dark-blue-desaturated-text-color);
  padding: 1.5rem;
  width: 16rem;
  text-align: center;
  /* border-radius: 0.3rem; */
  margin: 0 auto 2rem auto;
  transition: all 250ms ease-in-out;
}

.card:hover {
  background: var(--dark-blue-card-hover);
  cursor: pointer;
}

.card-platform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.75rem;
}

.card-icon {
  margin-right: 0.5rem;
}

.facebook {
  border-top: 0.3rem solid var(--facebook-color);
}

.twitter {
  border-top: 0.3rem solid var(--twitter-color);
}

.instagram {
  border-top: 0.3rem solid;
  border-image: var(--instagram-color);
  border-image-slice: 1;
}

.youtube {
  border-top: 0.3rem solid var(--youtube-color);
}

.card-username {
  font-size: 0.75rem;
}

.card-followers {
  color: var(--dark-white-text-color);
  font-size: 3.5rem;
}

.card-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.card-change-up-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.75rem;
}

.arrow {
  margin-right: 0.5rem;
}

.card-change-up {
  color: var(--lime-green-color);
  font-size: 0.75rem;
}

.card-change-down {
  color: var(--bright-red-color);
  font-size: 0.75rem;
}

.views-likes {
  display: flex;
  justify-content: space-between;
}

.social-stat {
  display: flex;
  justify-content: space-between;
}

.social-stat-counts {
  color: var(--dark-white-text-color);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.percentage .card-change-down {
  margin-right: 0.5rem;
}
